.orders-container {
    width: 30%;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10);
    margin: 10px 30px 0 0;
    padding: 20px;
}

.food {
    border: 1px solid #b5b5b5;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}