.menu-items {
    width: 60%;
    padding: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
}

.full-description {
    display: flex;
    align-items: center;
}

.menu-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}